<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<header class="w-screen navbar navbar-expand-md text-[17px]">
  <nav class="navbar navbar-dark navbar-fixed-top">
    <div class="grid grid-cols-[20vw_auto_auto] items-center px-10 h-12">
      <div class="logo"></div>
      <div class="">
        <ul class="flex justify-start">
          <li class="ml-10">
            <aut-link [routerLink]="['']" variant="secondary">Home</aut-link>
          </li>
          <li [hidden]="isHidden" class="ml-10">
            <aut-link [routerLink]="['/pipeline/list']" variant="secondary"
              >Pipelines</aut-link
            >
          </li>
          <li [hidden]="isHidden" class="ml-10">
            <aut-link [routerLink]="['/pipeline/create']" variant="secondary"
              >Create Pipelines</aut-link
            >
          </li>
        </ul>
      </div>
      <div class="flex justify-end text-white">
        <div
          class="mr-5 rounded-lg bg-ebony hover:scale-105 px-2 py-1"
          *ngIf="isHidden"
        >
          <i class="fa-solid fa-arrow-right-to-bracket content-center"></i>
          <a routerLink="/user/sign-in" class="ml-1"> Sign In </a>
        </div>

        <div
          class="mr-5 rounded-lg bg-ebony hover:scale-105 px-2 py-1"
          *ngIf="isHidden"
        >
          <i class="fa-solid fa-user-plus content-center"></i>
          <a routerLink="/user/sign-up" class="text-left ml-1"> Sign Up </a>
        </div>
        <div
          class="mr-5 rounded-lg bg-ebony hover:scale-105 px-2 py-1 hover:cursor-pointer"
          (click)="signOut()"
          *ngIf="!isHidden"
        >
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span class="lD:inline-block mD:hidden ml-1" title="Sign Out">
            Sign Out</span
          >
        </div>

        <div
          class="mr-5 rounded-lg bg-ebony hover:scale-105 px-2 py-1 flex hover:cursor-pointer"
          (click)="toggleTheme()"
        >
          <div>
            <i class="fa-regular fa-sun content-center" *ngIf="!themeIcon"></i>
            <i class="fa-regular fa-moon content-center" *ngIf="themeIcon"></i>
          </div>
          <div class="text-left ml-1 lD:block mD:hidden" title="Switch theme">
            {{ theme }}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
