.logo {
  @apply bg-[url('/assets/image/site-logo.png')] h-full bg-no-repeat bg-contain max-w-56;
}
// .navbar{
//  background-color: rgba($color: white, $alpha: .2) ;
// }

.navbar-fixed-top.scrolled {
  backdrop-filter: blur(50px);
  @apply py-1;  
  background-color: var(--ebony) !important;
  transition: background-color 100ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color: #555;
}
