<div class="lD:w-[80vw] mD:w-[90vw] m-auto text-white flex">
  <div class="w-full mt-20">
    <div class="no-pipelines-container" *ngIf="projectList.length == 0">
      <img
        src="assets/image/empty-box.png"
        alt="No Pipelines"
        class="no-pipelines-image"
      />
      <div class="no-pipelines-heading">No Pipelines Available!</div>
      <div class="no-pipelines-text">
        It looks like you haven't created any pipelines yet. Start building your
        CI/CD pipelines now and automate your workflow!
      </div>
    </div>

    <div
      class="overflow-auto p-10 border-charcoal rounded-lg lD:min-h-screen mD:h-[75vh] grid lD:grid-cols-3 mD:grid-cols-2 gap-10"
    >
      <div *ngFor="let project of projectList; let index = index">
        <aut-card
          [index]="index"
          [project]="project"
          (updateList)="updateList($event)"
        ></aut-card>
      </div>
    </div>
  </div>
</div>
