<div [formGroup]="azureForm">
  <div class="projectMenu">Azure Form</div>
  <aut-chip placeholder="Trigger" formControlName="trigger"></aut-chip>
  <div class="flex justify-between projectMenu">
    <div>Azure Stages</div>
    <div>
      <aut-button
        type="button"
        variant="primary"
        [icon]="true"
        iconURL="/assets/image/plus.png"
        [iconPosition]="IconPosition.Pre"
        (click)="addAzureStage()"
      >
        ADD NEW STAGE
      </aut-button>
    </div>
  </div>
  <div formArrayName="azure_stages">
    <div
      *ngFor="let stage of azure_stages.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="mt-3 text-white">
        Stage&nbsp; [&nbsp; {{ i + 1 }} &nbsp; of &nbsp;
        {{ azure_stages.length }} &nbsp;] :
      </div>
      <aut-input
        name="stage"
        id="stage"
        placeholder="Stage Name"
        formControlName="stage"
      >
      </aut-input>
      <aut-input
        name="displayName"
        id="displayName"
        placeholder="Display Name"
        formControlName="displayName"
      >
      </aut-input>
      <div class="flex justify-between mt-3">
        <div class="ml-3 text-white">Define Jobs :</div>
        <div class="grid grid-cols-2 mr-3 gap-3">
          <aut-button
            type="button"
            variant="primary"
            [iconButton]="true"
            iconURL="/assets/image/plus.png"
            (click)="addJob(stage.get('jobs'))"
          ></aut-button>
          <aut-button
            type="button"
            variant="danger"
            [iconButton]="true"
            iconURL="/assets/image/minus.png"
            (click)="removeJobs(stage.get('jobs'))"
          ></aut-button>
        </div>
      </div>
      <div formArrayName="jobs">
        <div
          *ngFor="let job of stage.get('jobs')['controls']; let j = index"
          [formGroupName]="j"
        >
          <div class="mt-3 text-white">
            Job&nbsp; [&nbsp; {{ j + 1 }} &nbsp; of &nbsp;
            {{ stage.get('jobs')['controls'].length }} &nbsp;] :
          </div>
          <aut-input
            name="job"
            id="job"
            placeholder="Job Name"
            formControlName="job"
          >
          </aut-input>
          <aut-input
            name="displayName"
            id="displayName"
            placeholder="Display Name"
            formControlName="displayName"
          >
          </aut-input>
          <aut-input
            name="pool"
            id="pool"
            placeholder="Pool (VM Image)"
            formControlName="pool"
          >
          </aut-input>
          <div class="flex justify-between mt-3">
            <div class="ml-3 text-white">Define Steps :</div>
            <div class="grid grid-cols-2 mr-3 gap-3">
              <aut-button
                type="button"
                variant="primary"
                [iconButton]="true"
                iconURL="/assets/image/plus.png"
                (click)="addSteps(job.get('steps'))"
              ></aut-button>
              <aut-button
                type="button"
                variant="danger"
                [iconButton]="true"
                iconURL="/assets/image/minus.png"
                (click)="removeSteps(job.get('steps'))"
              ></aut-button>
            </div>
          </div>
          <div formArrayName="steps">
            <div
              *ngFor="let step of job.get('steps').controls; let k = index"
              [formGroupName]="k"
            >
              <div class="mt-3 text-white">
                Step&nbsp; [&nbsp; {{ k + 1 }} &nbsp;] :
              </div>
              <aut-input
                name="script"
                id="script"
                placeholder="Script"
                formControlName="script"
              >
              </aut-input>
              <aut-input
                name="displayName"
                id="displayName"
                placeholder="Display Name"
                formControlName="displayName"
              >
              </aut-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <aut-button type="button" variant="danger" (click)="removeStage()"
      >DELETE STAGE</aut-button
    >
  </div>
</div>
