<div
  class="lD:w-[90vw] lD:max-w-[1100px] mD:w-[70vw] mD:max-w-[500px] m-auto grid lD:grid-cols-2 mD:grid-cols-1 mt-10"
>
  <div class="p-4">
    <div class="heading">Pipeline Details</div>
    <form [formGroup]="combinedForm" (ngSubmit)="onSubmit()">
      <div
        class="overflow-y-scroll border-slate border-2 rounded-lg h-[450px] px-8 py-3 bg-ebony"
      >
        <select
          id="repoName"
          name="repoName"
          class="selectClasses"
          formControlName="repoName"
        >
          <option value="" disabled selected class="bg-onyx text-pewter">
            Repository Type
          </option>
          <option
            *ngFor="let item of repositories"
            class="bg-onyx text-pewter"
            [value]="item.key"
          >
            {{ item.lable }}
          </option>
        </select>
        <select
          id="projectType"
          name="projectType"
          class="selectClasses"
          formControlName="projectType"
        >
          <option value="" disabled selected class="bg-onyx text-pewter">
            Project Type
          </option>
          <option
            *ngFor="let item of projects"
            class="bg-onyx text-pewter"
            [value]="item.key"
          >
            {{ item.lable }}
          </option>
        </select>
        <aut-input
          id="nodeVersion"
          name="nodeVersion"
          placeholder="Node Version (ex. 18.00.00)"
          formControlName="nodeVersion"
        ></aut-input>
        <div
          *ngIf="
            combinedForm.controls['nodeVersion'].invalid &&
            combinedForm.controls['nodeVersion'].touched &&
            combinedForm.controls['nodeVersion'].value.length != 0
          "
          class="text-red-700"
        >
          Invalid Input
        </div>
        <ng-template ngIf="projectType">
          <div *ngIf="projectType" [ngSwitch]="repoName">
            <app-bitbucket
              #bitBucket
              *ngSwitchCase="repository.bitbucket"
              [bitbucketForm]="bitbucketForm"
              [selectedProject]="selectedProject"
            ></app-bitbucket>
            <app-gitlab
              #gitLab
              *ngSwitchCase="repository.gitlab"
              [gitlabForm]="gitlabForm"
              [selectedProject]="selectedProject"
            ></app-gitlab>
            <app-github
              #gitHub
              *ngSwitchCase="repository.github"
              [githubForm]="githubForm"
              [selectedProject]="selectedProject"
            ></app-github>
            <app-azure
              #azure
              *ngSwitchCase="repository.azure"
              [azureForm]="azureForm"
              [selectedProject]="selectedProject"
            ></app-azure>
          </div>
        </ng-template>
      </div>
      <div class="lD:text-right mD:text-center mt-1">
        <aut-button
          type="submit"
          variant="success"
          [disabled]="combinedForm.invalid"
        >
          {{ isYamlUpdated ? 'Update' : 'Submit' }}
        </aut-button>
      </div>
    </form>
  </div>
  <div class="p-4">
    <div class="heading">YAML Code</div>
    <div class="h-[450px] border-slate border-2">
      <ngx-monaco-editor
        *ngIf="isBrowser"
        [options]="editorOptions_dark"
        [(ngModel)]="code"
      ></ngx-monaco-editor>
    </div>
    <div class="lD:text-right mD:text-center mt-1">
      <!-- <aut-button
        type="button"
        variant="success"
        [disabled]=""
        (click)="updateYAML()"
        >Update</aut-button
      > -->
    </div>
  </div>
</div>
