* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

.heading {
  @apply text-center py-2 mb-2 font-bold tracking-wider bg-charcoal rounded-lg text-lg text-white;
}

ngx-monaco-editor {
  height: 450px;
}

.selectClasses {
  @apply py-2 pl-2 w-full text-base bg-transparent border-0 border-b-2 text-concrete border-charcoal focus:outline-none focus:border-forest mt-2;
}
