.page-not-found {
  background-image: url("/assets/image/404.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.page {
  background-image: url("/assets/image/404-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
