<div
  class="lD:w-[80vw] mD:w-[90vw] m-auto mt-10 text-center font-semibold text-white"
>
  Aut Toastr
</div>
<div class="lD:w-[80vw] mD:w-[90vw] m-auto mt-4 mb-3 text-white p-10">
  <div>Toastr Types</div>
  <div class="grid lD:grid-cols-[35%_65%] mD:grid-cols-1">
    <div class="content-center webkitCenter">
      <aut-toastr
        toastrTitle="Success"
        toastrMessage="Adipisci amet nemo at officia?"
        type="success"
      ></aut-toastr>
    </div>
    <div class="">
      <pre>{{ toastrType.success }}</pre>
    </div>
  </div>
  <div class="grid lD:grid-cols-[35%_65%] mD:grid-cols-1">
    <div class="content-center webkitCenter">
      <aut-toastr
        toastrTitle="Info"
        toastrMessage="Adipisci amet nemo at officia?"
        type="info"
      ></aut-toastr>
    </div>
    <div class="">
      <pre>{{ toastrType.info }}</pre>
    </div>
  </div>
  <div class="grid lD:grid-cols-[35%_65%] mD:grid-cols-1">
    <div class="content-center webkitCenter">
      <aut-toastr
        toastrTitle="Warning"
        toastrMessage="Adipisci amet nemo at officia?"
        type="warning"
      ></aut-toastr>
    </div>
    <div class="">
      <pre>{{ toastrType.warning }}</pre>
    </div>
  </div>
  <div class="grid lD:grid-cols-[35%_65%] mD:grid-cols-1">
    <div class="content-center webkitCenter">
      <aut-toastr
        toastrTitle="Danger"
        toastrMessage="Adipisci amet nemo at officia?"
        type="danger"
      ></aut-toastr>
    </div>
    <div class="">
      <pre>{{ toastrType.danger }}</pre>
    </div>
  </div>
</div>
