<div
  class="lD:w-[80vw] mD:w-[90vw] m-auto mt-10 text-center font-semibold"
>
  Aut Inputs
</div>
<div class="lD:w-[80vw] mD:w-[90vw] m-auto mt-4 mb-3">
  <div class="">
    <span class="ml-5 font-semibold text-white"> Variants </span>
    <div class="ml-5 grid grid-cols-2 gap-2">
      <aut-input placeholder="Primary Variant"></aut-input><br />
      <aut-input placeholder="Secondary Variant" variant="secondary"></aut-input
      ><br />
      <div class="">
        <pre>{{ inputVariant }}
        </pre>
      </div>
    </div>
  </div>
</div>
