<footer class="bg-black text-slate">
  <div class="p-4 flex items-center justify-between">
    <span class="text-sm sm:text-center"
      >© {{ CurrentYear }}
      <aut-link [routerLink]="['home']">Automate™</aut-link>&nbsp;&nbsp;All
      Rights Reserved.
    </span>
    <ul
      class="grid grid-cols-4 lD:gap-3 mD:gap-1 text-center text-sm items-center font-medium"
    >
      <li class="">
        <aut-link>About</aut-link>
      </li>
      <li class="">
        <aut-link>Privacy Policy</aut-link>
      </li>
      <li class="">
        <aut-link>Licensing</aut-link>
      </li>
      <li class="">
        <aut-link>Contact</aut-link>
      </li>
    </ul>
  </div>
</footer>
