<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div
  class="w-72 shadow-[inset_0px_0px_10px_1px_gray] hover:shadow-[0px_0px_10px_1px_gray] bg-gray-900/10 px-8 py-5 hover:scale-105 m-auto rounded-lg"
>
  <div
    class="w-16 pl-8 static -ml-8 text-black text-2xl rounded-e-xl bg-orange-400 mb-3"
  >
    {{ index + 1 }}
  </div>
  <div class="">Repository :</div>
  <div class="text-lg font-semibold pl-10">
    {{ project.repoName }}
  </div>
  <div class="">Project :</div>
  <div class="text-lg font-semibold pl-10">
    {{ project.projectType }}
  </div>
  <div class="">Created :</div>
  <div class="text-lg font-semibold pl-10">
    {{ project.createdAt }}
  </div>
  <div class="">Updated :</div>
  <div class="text-lg font-semibold pl-10">
    {{ project.updatedAt }}
  </div>
  <div class="flex justify-evenly mt-2">
    <div class="py-3">
      <i
        class="fa-regular fa-pen-to-square text-3xl hover:scale-105 hover:cursor-pointer"        
        (click)="getProjectDetails(project.id)"
      ></i>
    </div>
    <!-- <div class="py-3">
      <i
        class="fa-solid fa-trash-can text-3xl hover:scale-105 hover:cursor-pointer"
      ></i>
    </div> -->
  </div>
</div>
