<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="project-card">
  <!-- Repository -->
  <div class="card-row">
    <div class="label">Repository</div>
    <div class="value">: {{ project.repoName }}</div>
  </div>

  <!-- Project -->
  <div class="card-row">
    <div class="label">Project</div>
    <div class="value">: {{ project.projectType }}</div>
  </div>

  <!-- Created -->
  <div class="card-row">
    <div class="label">Created</div>
    <div class="value">: {{ project.createdAt.split(' ')[0] }}</div>
  </div>

  <!-- Updated -->
  <div class="card-row">
    <div class="label">Updated</div>
    <div class="value">: {{ project.updatedAt.split(' ')[0] }}</div>
  </div>

  <!-- Actions -->
  <div class="card-actions mt-5">
    <button (click)="getProjectDetails(project.id)" title="View Details">
      <i class="fa fa-eye"></i> Update
    </button>
    <button (click)="deleteProject(project.id)" title="Delete Project">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</div>
