<div class="lD:w-[80vw] mD:w-[90vw] m-auto mt-10 text-center">Aut Links</div>
<div class="lD:w-[80vw] mD:w-[90vw] m-auto mt-4">
  <div class="">
    <span class="ml-5"> Variants </span>
    <div class="grid lD:grid-cols-6 mD:grid-cols-3 p-4">
      <aut-link>Primary Link</aut-link>
      <aut-link variant="secondary">Secondary link</aut-link>
      <aut-link variant="tertiary">Tertiary link</aut-link>
    </div>
    <div class="">
      <pre
        >{{ hyperlinkVariant }}
         </pre
      >
    </div>
  </div>
</div>
