<div class="relative min-h-screen bg-spaceGray w-full bgImage"></div>
<div class="min-h-screen w-full bg-spaceGray">
  <div class="grid w-full px-20 grid-cols-1 gap-20 text-white py-10">
    <div
      class="p-4 rounded-[20px] shadow-[0px_0px_20px_2px_#111827] lD:w-[50%] m-auto"
    >
      <div class="grid mD:grid-cols-1 lD:grid-cols-[70%_30%]">
        <div class="card2-image order-last lD:h-auto mD:h-[20vh]"></div>
        <div>
          <div class="px-5 text-[40px]">AutomateCICD ?</div>
          <div class="px-5 text-justify lD:mt-0 mD:mt-4">
            <span class="text-[20px]">&#9881;&nbsp;CI/CD</span> (Continuous
            Integration/ Continuous Delivery) automates the process of
            integrating, testing, and deploying code changes. It ensures faster
            development cycles, consistent quality, and seamless deployment to
            production.
          </div>
        </div>
      </div>
    </div>
    <div
      class="p-4 rounded-[20px] bg-gray-900/10 shadow-[0px_0px_20px_2px_#111827] lD:w-[50%] m-auto"
    >
      <div class="grid mD:grid-cols-1 lD:grid-cols-[30%_70%]">
        <div class="card1-image lD:h-auto mD:h-[20vh]"></div>
        <div>
          <div class="px-5 text-[40px]">Is Yaml better?</div>
          <div class="px-5 text-justify lD:mt-0 mD:mt-4">
            <span class="text-[20px]">&#9881;&nbsp;YAML</span> file on your
            website can store structured data like configuration settings,
            metadata, or theme options. It's a human-readable format ideal for
            managing website settings, navigation, and content. Its simplicity
            and ease of use make it a great choice for both developers and
            non-technical users.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
