.card1-image {
  background-image: url('/assets/image/yaml.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-radius: 10px;
}
.card2-image {
  background-image: url('/assets/image/15.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-radius: 10px;
}
